{% extends 'base.html' %}
{% block title %} {{ focus.name }} {% endblock %}
<h1></h1>
{% block content %}
<h1>{{ focus.name }}</h1>
<h2>Create Problem</h2>
<form method="post">
  {% csrf_token %} {{ problem_form.as_p }}
  <button type="submit">Create</button>
</form>
<h2>Problems</h2>
{% for problem in problems %}
<h3>{{ problem.title }}</h3>
<p>{{ problem.description }}</p>
<p>Posted by: {{ problem.user }}</p>
<p>Posted on: {{ problem.created }}</p>
<p>Likes: {{ problem.likes }}</p>
<ul>
  {% for solution in problem.solution_set.all %}
  <li>
    <div>
      <p>{{ solution.description }} (Solution)</p>
      <div>Likes: {{solution.likes}}</div>
    </div>
  </li>
  {% endfor %} {% for comment in problem.comment_set.all %}
  <li>
    <div>
      <p>{{ comment.text }} (Comment)</p>
      <div>Likes: {{ comment.likes}}</div>
    </div>
  </li>
  {% endfor %}
</ul>
{% endfor %}
{% endblock %}
