{% extends 'base.html' %}
{% block title %} All Focuses {% endblock %}
{% block content %}
<h1>Focuses</h1>
<h2>Create Focus</h2>
<form method="post">
  {% csrf_token %} {{ form.as_p }}
  <button type="submit">Create</button>
</form>
<h2>Focuses</h2>
<ul>
  {% for focus in focuses %}
  <li>
    <a href="{% url 'focuses:detail' focus_slug=focus.slug%}">{{ focus.name }}</a>
    <a href="{% url 'focuses:follow_focus' focus.id %}">Follow</a>
    <a href="{% url 'focuses:unfollow_focus' focus.id %}">Unfollow</a>
  </li>
  {% endfor %}
</ul>
{% endblock %}
